{% extends 'templates/app.twig' %}

{% block content %}

    <!-- START ROW -->
    <div class="row">

        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false"
                 data-widget-custombutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">


                        <form action="{{ category is defined ? path_for('admin.category.update') : path_for('admin.category.store') }}"
                              method="{{ category is defined ? 'PUT' : 'POST' }}" class="smart-form">

                            <input type="hidden" name="_METHOD" value="PUT"/>

                            {{ csrf.field | raw }}

                            {% if category %}<input type="hidden" name="id" value="{{ category.id }}">{% endif %}

                            <header>
                                *-обязательные поля
                            </header>

                            <fieldset>

                                <section>
                                    <label for="name" class="label">Название*</label>
                                    <label class="input">
                                        <input type="text" maxlength="255" placeholder="Название" name="name"
                                               value="{{ category is defined ? category.name : old.name }}" id="name">
                                    </label>

                                    {% if errors.name %}
                                        <span class="text-danger">{{ errors.name | first }}</span>
                                    {% endif %}

                                </section>

                            </fieldset>

                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    Отправить
                                </button>
                                <a class="btn btn-default" href="{{ path_for('admin.category.index') }}">
                                    Назад
                                </a>
                            </footer>

                        </form>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- END COL -->

    </div>

    <!-- END ROW -->

{% endblock %}

{% block js %}

{% endblock %}