{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row-fluid">
        <div class="col">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false">

                <!-- widget div-->
                <div>

                    <form id="tmplForm" enctype="multipart/form-data" action="{{ category is defined ? path_for('admin.category.update') : path_for('admin.category.store') }}" method="{{ category is defined ? 'put' : 'post' }}" class="smart-form">

                        {% if category %}<input type="hidden" name="id" value="{{ category.id }}">{% endif %}

                        <header>
                            *-обязательные поля
                        </header>

                        <fieldset>

                            <section>
                                <label for="name" class="label">Название*</label>
                                <label class="input">
                                    <input type="text" maxlength="10" placeholder="Название" name="name" value="{{ category is defined ? category.name : '' }}" type="text" id="name">
                                </label>

                                {% if errors.name %}
                                    <span class="text-danger">{{ errors.name | first }}</span>
                                {% endif %}

                            </section>

                        </fieldset>

                        <footer>
                            <button type="submit" class="btn btn-primary">
                                Отправить
                            </button>
                            <button type="button" class="btn btn-default" onclick="window.history.back();">
                                Назад
                            </button>
                        </footer>

                        {{ csrf.field | raw }}

                    </form>

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}


{% endblock %}