{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row-fluid">
        <div class="col">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false">

                <!-- widget div-->
                <div>

                    <form id="tmplForm"  action="{{ settings is defined ? path_for('admin.settings.update') : path_for('admin.settings.store') }}" method="{{ settings is defined ? 'put' : 'post' }}" class="smart-form">

                        {% if settings %}<input type="hidden" name="id" value="{{ settings.id }}">{% endif %}

                        <header>
                            *-обязательные поля
                        </header>

                        <fieldset>

                            <section>
                                <label for="name" class="label">Ключ*</label>
                                <label class="input">
                                    <input type="text" maxlength="255" placeholder="Ключ" name="name" value="{{ settings is defined ? settings.name : old.name }}" id="name">
                                </label>

                                {% if errors.name %}
                                    <span class="text-danger">{{ errors.name | first }}</span>
                                {% endif %}

                            </section>

                            <section>
                                <label for="value" class="label">Значение*</label>
                                <label class="input">
                                    <input type="text" maxlength="255" placeholder="Значение" name="value" value="{{ settings is defined ? settings.value : old.value }}" id="name">
                                </label>

                                {% if errors.value %}
                                    <span class="text-danger">{{ errors.value | first }}</span>
                                {% endif %}

                            </section>

                            <section>
                                <label for="description" class="label">Описание</label>
                                <label class="textarea textarea-resizable">
                                    <textarea rows="3" class="custom-scroll" placeholder="Описание" name="description"  id="description">{{ settings is defined ? settings.description : old.description }}</textarea>
                                </label>
                                {% if errors.description %}
                                    <span class="text-danger">{{ errors.description| first }}</span>
                                {% endif %}

                            </section>

                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    Отправить
                                </button>
                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                    Назад
                                </button>
                            </footer>

                        </fieldset>

                        {{ csrf.field | raw }}

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}


{% endblock %}