{% extends 'templates/app.twig' %}

{% block content %}

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false"
                     data-widget-fullscreenbutton="false" data-widget-colorbutton="false"
                     data-widget-deletebutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>

                        <ul class="nav nav-tabs pull-right in" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#s1"><i class="fa fa-gear"></i>
                                    <span class="hidden-mobile hidden-tablet">{{ trans('str.interface_settings') }}</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#s2"><i class="fa fa-cogs"></i>
                                    <span class="hidden-mobile hidden-tablet">{{ trans('str.mailing_options') }}</span>
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#s3"><i class="fa fa-file-code-o"></i>
                                    <span class="hidden-mobile hidden-tablet">{{ trans('str.additional_headers') }}</span>
                                </a>
                            </li>

                        </ul>

                    </header>

                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->

                        <!-- end widget edit box -->

                        <form action="{{ path_for('admin.settings.update') }}" method="POST" class="form-horizontal">

                            {{ csrf.field | raw }}

                            <!-- content -->

                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">

                                    <fieldset>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('str.sender_email') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" placeholder="Email" name="EMAIL" value="{{ get_setting('EMAIL') }}" type="text">

                                                {% if errors.EMAIL %}
                                                    <span class="text-danger">{{ errors.EMAIL | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.show_admin_email_in_sent_emails') }}</label>
                                            <div class="col-md-10">
                                                <label class="checkbox-inline">
                                                    <input name="SHOW_EMAIL" {{ get_setting('SHOW_EMAIL') == 1 ? 'checked' : '' }}
                                                           type="checkbox" class="checkbox style-0">
                                                    <span></span>
                                                </label>

                                                {% if errors.EMAIL %}
                                                    <span class="text-danger">{{ errors.SHOW_EMAIL | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('str.sender_name') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" name="FROM"  value="{{ get_setting('FROM') }}"
                                                       placeholder="{{ trans('str.admin_email_name') }}" type="text">

                                                {% if errors.EMAIL %}
                                                    <span class="text-danger">{{ errors.FROM | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.return_path') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" value="{{ get_setting('RETURN_PATH') }}"
                                                       name="RETURN_PATH" placeholder="{{ trans('form.return_path') }}"
                                                       type="text">

                                                {% if errors.RETURN_PATH %}
                                                    <span class="text-danger">{{ errors.RETURN_PATH | first }}</span>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.list_owner') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" value="{{ get_setting('LIST_OWNER') }}" name="LIST_OWNER" placeholder="{{ trans('form.list_owner') }}"
                                                       type="text">

                                                {% if errors.LIST_OWNER %}
                                                    <span class="text-danger">{{ errors.LIST_OWNER | first }}</span>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.organization') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" value="{{ get_setting('ORGANIZATION') }}" name="ORGANIZATION" placeholder="{{ trans('form.organization') }}" type="text">

                                                {% if errors.ORGANIZATION %}
                                                    <span class="text-danger">{{ errors.ORGANIZATION | first }}</span>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.subject_text_confirm') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" value="{{ get_setting('SUBJECT_TEXT_CONFIRM') }}" name="SUBJECT_TEXT_CONFIRM"  placeholder="{{ trans('form.subject_text_confirm') }}" type="text">

                                                {% if errors.SUBJECT_TEXT_CONFIRM %}
                                                    <span class="text-danger">{{ errors.SUBJECT_TEXT_CONFIRM | first }}</span>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.text_confirmation') }}</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control" name="TEXT_CONFIRMATION" placeholder="{{ trans('form.text_confirmation') }}"  rows="4">{{ get_setting('TEXT_CONFIRMATION') }}</textarea>

                                                {% if errors.TEXT_CONFIRMATION %}
                                                    <span class="text-danger">{{ errors.TEXT_CONFIRMATION | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.require_subscription_confirmation') }}</label>
                                            <div class="col-md-10">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="REQUIRE_SUB_CONFIRMATION" {{ get_setting('REQUIRE_SUB_CONFIRMATION') == 1 ? 'checked="checked"' }} class="checkbox style-0">
                                                    <span></span>
                                                </label>

                                                {% if errors.REQUIRE_SUB_CONFIRMATION %}
                                                    <span class="text-danger">{{ errors.REQUIRE_SUB_CONFIRMATION | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.unsublink_text') }}</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control" name="UNSUBLINK" placeholder="{{ trans('form.unsublink_text') }}"  rows="4">{{ get_setting('UNSUBLINK') }}</textarea>
                                            </div>

                                            {% if errors.UNSUBLINK %}
                                                <span class="text-danger">{{ errors.UNSUBLINK | first }}</span>
                                            {% endif %}

                                        </div>

                                    </fieldset>

                                </div>
                                <!-- end s1 tab pane -->

                                <div class="tab-pane fade in padding-10" id="s2">

                                    <fieldset>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.show_unsubscribe_link') }}</label>
                                            <div class="col-md-10">
                                                <label class="checkbox-inline">
                                                    <input name="SHOW_UNSUBSCRIBE_LINK" {{ get_setting('SHOW_UNSUBSCRIBE_LINK') == 1 ? 'checked' : '' }} type="checkbox" class="checkbox style-0">
                                                    <span></span>
                                                </label>

                                                {% if errors.SHOW_UNSUBSCRIBE_LINK %}
                                                    <span class="text-danger">{{ errors.SHOW_UNSUBSCRIBE_LINK | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.request_reply') }}</label>
                                            <div class="col-md-10">
                                                <label class="checkbox-inline">
                                                    <input name="REQUEST_REPLY" {{ get_setting('REQUEST_REPLY') == 1 ? 'checked' : '' }} type="checkbox" class="checkbox style-0">
                                                    <span></span>
                                                </label>

                                                {% if errors.REQUEST_REPLY %}
                                                    <span class="text-danger">{{ errors.REQUEST_REPLY | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.new_subscriber_notify') }}</label>
                                            <div class="col-md-10">
                                                <label class="checkbox-inline">
                                                    <input name="NEW_SUBSCRIBER_NOTIFY" {{ get_setting('NEW_SUBSCRIBER_NOTIFY') == 1 ? 'checked' : '' }}  type="checkbox" class="checkbox style-0">
                                                    <span></span>
                                                </label>

                                                {% if errors.NEW_SUBSCRIBER_NOTIFY %}
                                                    <span class="text-danger">{{ errors.NEW_SUBSCRIBER_NOTIFY | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.interval_number') }}</label>
                                            <div class="col-md-8">
                                                <input class="form-control" value="{{ get_setting('INTERVAL_NUMBER') }}" name="INTERVAL_NUMBER" type="text">
                                                {% if errors.INTERVAL_NUMBER %}
                                                    <span class="text-danger">{{ errors.INTERVAL_NUMBER | first }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2">
                                                <select name="INTERVAL_TYPE" class="form-control">
                                                    <option value="no" {{ get_setting('INTERVAL_TYPE') == 'no' or get_setting('interval_type') == '' ? 'selected="selected"' : '' }}>
                                                        {{ trans('str.no') }}
                                                    </option>
                                                    <option value="minute" {{ get_setting('INTERVAL_TYPE') == 'minute' ? 'selected="selected"' : '' }} selected="selected">
                                                        {{ trans('form.minute') }}
                                                    </option>
                                                    <option value="hour" {{ get_setting('INTERVAL_TYPE') == 'hour' ? 'selected="selected"' : '' }}>
                                                        {{ trans('form.hour') }}
                                                    </option>
                                                    <option value="day" {{ get_setting('INTERVAL_TYPE') == 'day' ? 'selected="selected"' : '' }}>
                                                        {{ trans('form.day') }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.limit_number') }}</label>
                                            <div class="col-md-8">
                                                <input class="form-control" value="{{ get_setting('LIMIT_NUMBER') }}" name="LIMIT_NUMBER" placeholder="{{ trans('form.limit_number') }}" type="text">
                                                {% if errors.LIMIT_NUMBER %}
                                                    <span class="text-danger">{{ errors.LIMIT_NUMBER | first }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2">
                                                <label class="checkbox-inline">
                                                    <input name="LIMIT_SEND" {{ get_setting('LIMIT_SEND') == 1 ? 'checked' : '' }}  type="checkbox" class="checkbox style-0">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.sleep') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" placeholder="{{ trans('form.sleep') }}" name="SLEEP" value="{{ get_setting('SLEEP') }}" type="text">

                                                {% if errors.SLEEP %}
                                                    <span class="text-danger">{{ errors.SLEEP | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.days_for_remove_subscriber') }}</label>
                                            <div class="col-md-8">
                                                <input class="form-control"  value="{{ get_setting('DAYS_FOR_REMOVE_SUBSCRIBER') }}" name="DAYS_FOR_REMOVE_SUBSCRIBER" placeholder="{{ trans('form.days_for_remove_subscriber') }}" type="text">
                                                {% if errors.DAYS_FOR_REMOVE_SUBSCRIBER %}
                                                    <span class="text-danger">{{ errors.DAYS_FOR_REMOVE_SUBSCRIBER | first }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2">
                                                <label class="checkbox-inline">
                                                    <input name="REMOVE_SUBSCRIBER" {{ get_setting('REMOVE_SUBSCRIBER') == 1 ? 'checked' : '' }}
                                                           type="checkbox" class="checkbox style-0">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.random_send') }}</label>
                                            <div class="col-md-10">
                                                <label class="checkbox-inline">
                                                    <input name="RANDOM_SEND" {{ get_setting('RANDOM_SEND') == 1 ? 'checked' : '' }} type="checkbox" class="checkbox style-0">
                                                    <span></span>
                                                </label>

                                                {% if errors.RANDOM_SEND %}
                                                    <span class="text-danger">{{ errors.RANDOM_SEND | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.rendom_replacement_subject') }}</label>
                                            <div class="col-md-10">
                                                <label class="checkbox-inline">
                                                    <input name="RENDOM_REPLACEMENT_SUBJECT" {{ get_setting('RENDOM_REPLACEMENT_SUBJECT') == 1 ? 'checked' : '' }} type="checkbox" class="checkbox style-0">
                                                    <span></span>
                                                </label>

                                                {% if errors.RENDOM_REPLACEMENT_SUBJECT %}
                                                    <span class="text-danger">{{ errors.RENDOM_REPLACEMENT_SUBJECT | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.random_replacement_body') }}</label>
                                            <div class="col-md-10">
                                                <label class="checkbox-inline">
                                                    <input name="RANDOM_REPLACEMENT_BODY" {{ get_setting('RANDOM_REPLACEMENT_BODY') == 1 ? 'checked' : '' }} type="checkbox" class="checkbox style-0">
                                                    <span></span>
                                                </label>

                                                {% if errors.RANDOM_REPLACEMENT_BODY %}
                                                    <span class="text-danger">{{ errors.RANDOM_REPLACEMENT_BODY | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Precedence</label>
                                            <div class="col-md-10">
                                                <select name="PRECEDENCE" class="form-control">
                                                    <option value="no" {{ get_setting('PRECEDENCE') == 'no' or get_setting('PRECEDENCE') == '' ? 'selected="selected"' : '' }}>
                                                        {{ trans('str.no') }}
                                                    </option>
                                                    <option value="bulk" {{ get_setting('PRECEDENCE') == 'bulk' ? 'selected="selected"' : '' }}
                                                            selected="selected">bulk
                                                    </option>
                                                    <option value="junk" {{ get_setting('PRECEDENCE') == 'junk' ? 'selected="selected"' : '' }}>
                                                        junk
                                                    </option>
                                                    <option value="list" {{ get_setting('PRECEDENCE') == 'list' ? 'selected="selected"' : '' }}>
                                                        list
                                                    </option>
                                                </select>

                                                {% if errors.PRECEDENCE %}
                                                    <span class="text-danger">{{ errors.PRECEDENCE | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.charset') }}</label>
                                            <div class="col-md-10">
                                                <select name="CHARSET" class="form-control">
                                                    {% for o in charset %}
                                                        <option value="{{ o.charset }}" {{ o.charset == get_setting('CHARSET') ? 'selected="selected"' : '' }}>{{ o.charset }}</option>
                                                    {% endfor %}
                                                </select>

                                                {% if errors.CHARSET %}
                                                    <span class="text-danger">{{ errors.CHARSET | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.content_type') }}</label>
                                            <div class="col-md-10">
                                                <label class="radio radio-inline">
                                                    <input type="radio" class="radiobox style-0" value="html" {{ get_setting('CONTENT_TYPE') == 'html' ? 'checked="checked"' : '' }}  name="CONTENT_TYPE">
                                                    <span>HTML</span>
                                                </label>
                                                <label class="radio radio-inline">
                                                    <input type="radio" class="radiobox style-0" value="plain" {{ get_setting('CONTENT_TYPE') == 'plain' ? 'checked="checked"' : '' }} name="CONTENT_TYPE">
                                                    <span>Plain</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.how_to_send') }}</label>
                                            <div class="col-md-10">
                                                <label class="radio radio-inline">
                                                    <input type="radio" class="radiobox style-0"  value="php" {{ get_setting('HOW_TO_SEND') == 'php' ? 'checked="checked"' : '' }}
                                                           name="HOW_TO_SEND">
                                                    <span>PHP Mail</span>
                                                </label>
                                                    <label class="radio radio-inline">
                                                    <input type="radio" class="radiobox style-0" value="smtp" {{ get_setting('HOW_TO_SEND') == 'smtp' ? 'checked="checked"' : '' }}
                                                           name="HOW_TO_SEND">
                                                    <span>SMTP</span>
                                                </label>
                                                <label class="radio radio-inline">
                                                    <input type="radio" class="radiobox style-0" value="sendmail" {{ get_setting('HOW_TO_SEND') == 'sendmail' ? 'checked="checked"' : '' }} name="HOW_TO_SEND">
                                                    <span>Sendmail</span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.sendmail_path') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" placeholder="{{ trans('form.sendmail_path') }}" name="SENDMAIL_PATH" value="{{ get_setting('SENDMAIL_PATH') }}"  type="text">

                                                {% if errors.SENDMAIL_PATH %}
                                                    <span class="text-danger">{{ errors.SENDMAIL_PATH | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">URL</label>
                                            <div class="col-md-10">
                                                <input class="form-control" placeholder="URL" name="URL" value="{{ get_setting('URL') }}" type="text">

                                                {% if errors.URL %}
                                                    <span class="text-danger">{{ errors.URL | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.add_dkim') }}</label>
                                            <div class="col-md-10">
                                                <label class="checkbox-inline">
                                                    <input name="ADD_DKIM" {{ get_setting('ADD_DKIM') == 1 ? 'checked' : '' }} type="checkbox" class="checkbox style-0">
                                                    <span></span>
                                                </label>

                                                {% if errors.ADD_DKIM %}
                                                    <span class="text-danger">{{ errors.ADD_DKIM | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.dkim_domain') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" placeholder="{{ trans('form.dkim_domain') }}"  name="DKIM_DOMAIN" value="{{ get_setting('DKIM_DOMAIN') }}" type="text">

                                                {% if errors.DKIM_DOMAIN %}
                                                    <span class="text-danger">{{ errors.DKIM_DOMAIN | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.dkim_selector') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" placeholder="{{ trans('form.dkim_selector') }}" name="DKIM_SELECTOR"  value="{{ get_setting('DKIM_SELECTOR') }}" type="text">

                                                {% if errors.DKIM_SELECTOR %}
                                                    <span class="text-danger">{{ errors.DKIM_SELECTOR | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.dkim_private') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" placeholder="{{ trans('form.dkim_private') }}" name="DKIM_PRIVATE" value="{{ get_setting('DKIM_PRIVATE') }}" type="text">

                                                {% if errors.DKIM_PRIVATE %}
                                                    <span class="text-danger">{{ errors.DKIM_PRIVATE | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.dkim_passphras') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" placeholder="{{ trans('form.dkim_passphras') }}" name="DKIM_PASSPHRAS" value="{{ get_setting('DKIM_PASSPHRAS') }}" type="text">

                                                {% if errors.DKIM_PASSPHRAS %}
                                                    <span class="text-danger">{{ errors.DKIM_PASSPHRAS | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ trans('form.dkim_identity') }}</label>
                                            <div class="col-md-10">
                                                <input class="form-control" placeholder="{{ trans('form.dkim_identity') }}" name="DKIM_IDENTITY" value="{{ get_setting('DKIM_IDENTITY') }}" type="text">

                                                {% if errors.DKIM_IDENTITY %}
                                                    <span class="text-danger">{{ errors.DKIM_IDENTITY | first }}</span>
                                                {% endif %}

                                            </div>
                                        </div>

                                    </fieldset>

                                </div>
                                <!-- end s2 tab pane -->

                                <div class="tab-pane fade in padding-10" id="s3">

                                    <div id="headerslist">

                                        {% for c in customheaders %}

                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="col-lg-4 control-label">{{ trans('form.name') }}</label>
                                                        <div class="col-lg-8"><input class="form-control" type="text" value="{{ c.name }}" name="header_name[]"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="form-group">
                                                        <label class="col-lg-4 control-label">{{ trans('form.value') }}</label>
                                                        <div class="col-lg-6"><input class="form-control" type="text" value="{{ c.value }}" name="header_value[]"></div>
                                                        <div class="col-lg-2"><a class="btn btn-outline btn-danger removeBlock" title="{{ trans('form.remove') }}"> - </a></div>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}

                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                <input class="btn btn-default" id="add_field" type="button" value="+ {{ trans('form.add') }}">
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <!-- end s3 tab pane -->

                            <!-- end content -->

                            <div class="padding-10">

                                <button type="submit" class="btn btn-primary pull-right margin-bottom-10">
                                    {{ trans('str.apply') }}
                                </button>
                            </div>
                        </form>

                    </div>

                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>

    </section>
    <!-- end widget grid -->

{% endblock %}

{% block js %}

    <script>
        $(function () {
            // Tabs
            $('#tabs').tabs();

            //hover states on the static widgets
            $('#dialog_link, #modal_link, ul#icons li').hover(
                function () {
                    $(this).addClass('ui-state-hover');
                }, function () {
                    $(this).removeClass('ui-state-hover');
                });
        });

        $(document).on("click", '#add_field', function () {
            var html = '<div class="row">';
            html += '<div class="col-lg-4">';
            html += '<div class="form-group">';
            html += '<label class="col-lg-4 control-label">{{ trans('str.name') }}</label>';
            html += '<div class="col-lg-8"><input class="form-control" type="text" value="" name="header_name[]"></div>';
            html += '</div>';
            html += '</div>';
            html += '<div class="col-lg-8">';
            html += '<div class="form-group">';
            html += '<label class="col-lg-4 control-label">{{ trans('str.value') }}</label>';
            html += '<div class="col-lg-6"><input class="form-control" type="text" value="" name="header_value[]"></div>';
            html += '<div class="col-lg-2"><a class="btn btn-outline btn-danger removeBlock" title="Удалить"> - </a></div>';
            html += '</div>';
            html += '</div>';
            html += '</div>';

            $('#headerslist').prepend(html);

        });

        $(document).on("click", '.removeBlock', function () {
            var parent = $(this).closest('div[class^="row"]');
            parent.remove();
        });

    </script>

{% endblock %}