{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row-fluid">
        <div class="col">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false">

                <!-- widget div-->
                <div>

                    <form id="tmplForm"  action="{{ subscriber is defined ? path_for('admin.subscribers.import_subscribers') : path_for('admin.subscribers.store') }}" method="{{ subscriber is defined ? 'put' : 'post' }}" class="smart-form">

                        {% if subscriber %}<input type="hidden" name="id" value="{{ subscriber.id }}">{% endif %}

                        <header>
                            *-обязательные поля
                        </header>

                        <fieldset>

                            <section>
                                <label for="name" class="label">Имя</label>
                                <label class="input">
                                    <input type="text" maxlength="255" placeholder="Имя" name="name" value="{{ subscriber is defined ? subscriber.name : old.name }}" id="name">
                                </label>

                                {% if errors.name %}
                                    <span class="text-danger">{{ errors.name | first }}</span>
                                {% endif %}

                            </section>

                            <section>
                                <label for="name" class="label">Email*</label>
                                <label class="input">
                                    <input type="email" maxlength="255" placeholder="Email" name="email" value="{{ subscriber is defined ? subscriber.email : old.email }}" id="email">
                                </label>

                                {% if errors.email %}
                                    <span class="text-danger">{{ errors.email | first }}</span>
                                {% endif %}

                            </section>

                            <section>
                                <label for="categoryId[]" class="label">Категория подписчиков</label>
                                <label class="input">
                                    <select name="categoryId[]" multiple="multiple" id="categoryId" class="form-control custom-scroll" title="Выберите категорию">
                                        {% for o in category %}
                                            <option value="{{ o.id }}">{{ o.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                {% if errors.categoryId %}
                                    <span class="text-danger">{{ errors.categoryId | first }}</span>
                                {% endif %}
                            </section>

                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    Отправить
                                </button>
                                <a class="btn btn-default" href="{{ path_for('admin.subscribers.index') }}">
                                    Назад
                                </a>
                            </footer>

                        </fieldset>

                        {{ csrf.field | raw }}

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}


{% endblock %}