{% extends 'templates/app.twig' %}

{% block content %}

    <!-- START ROW -->
    <div class="row">

        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false"
                 data-widget-custombutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <form action="{{ subscriber is defined ? path_for('admin.subscribers.update') : path_for('admin.subscribers.store') }}" method="{{ subscriber is defined ? 'put' : 'post' }}" class="smart-form">

                            {% if subscriber %}<input type="hidden" name="id" value="{{ subscriber.id }}">{% endif %}

                            <header>
                                *-{{ trans('form.required_fields') }}
                            </header>

                            <fieldset>

                                <section>
                                    <label for="name" class="label">{{ trans('form.name') }}</label>
                                    <label class="input">
                                        <input type="text" maxlength="255" placeholder="trans('form.name')" name="name" value="{{ subscriber is defined ? subscriber.name : old.name }}" id="name">
                                    </label>

                                    {% if errors.name %}
                                        <span class="text-danger">{{ errors.name | first }}</span>
                                    {% endif %}

                                </section>

                                <section>
                                    <label for="name" class="label">Email*</label>
                                    <label class="input">
                                        <input type="email" maxlength="255" placeholder="Email" name="email" value="{{ subscriber is defined ? subscriber.email : old.email }}" id="email">
                                    </label>

                                    {% if errors.email %}
                                        <span class="text-danger">{{ errors.email | first }}</span>
                                    {% endif %}

                                </section>

                                <section>
                                    <label for="categoryId[]" class="label">{{ trans('form.subscribers_category') }}в</label>
                                    <label class="input">
                                        <select name="categoryId[]" multiple="multiple" id="categoryId" class="form-control custom-scroll" title="{{ trans('form.select_category') }}">
                                            {% for o in category %}
                                                <option value="{{ o.id }}" {% if (o.id in subscriptions or o.id in old.categoryId) %}selected="selected"{% endif %}>{{ o.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                    {% if errors.categoryId %}
                                        <span class="text-danger">{{ errors.categoryId | first }}</span>
                                    {% endif %}
                                </section>

                            </fieldset>

                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    {{ trans('form.send') }}
                                </button>
                                <a class="btn btn-default" href="{{ path_for('admin.subscribers.index') }}">
                                    {{ trans('form.back') }}
                                </a>
                            </footer>

                            {{ csrf.field | raw }}

                        </form>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- END COL -->

    </div>

    <!-- END ROW -->

{% endblock %}

{% block js %}


{% endblock %}