{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row-fluid">
        <div class="col">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false">

                <!-- widget div-->
                <div>

                    <form action="{{ path_for('admin.subscribers.export_subscribers') }}" method="POST" class="smart-form">

                        <fieldset>

                            <section>
                                <label for="export_type" class="label">{{ trans('form.format') }}</label>
                                <div class="inline-group">
                                    <label class="radio">
                                        <input type="radio" name="export_type" value="text" checked="checked">
                                        <i></i>{{ trans('form.text') }}
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="export_type" value="excel">
                                        <i></i>MS Excel
                                    </label>
                                </div>
                            </section>

                            <section>
                                <label for="compress" class="label">{{ trans('form.compress') }}</label>
                                <div class="inline-group">
                                    <label class="radio">
                                        <input type="radio" name="compress" value="none" checked="checked">
                                        <i></i>{{ trans('str.no') }}
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="compress" value="zip">
                                        <i></i>zip
                                    </label>
                                </div>
                            </section>

                            <section>
                                <label for="categoryId[]" class="label">{{ trans('form.subscribers_category') }}</label>
                                <label class="input">
                                    <select name="categoryId[]" multiple="multiple" class="form-control custom-scroll" title="{{ trans('form.select_category') }}">
                                        {% for o in category %}
                                            <option value="{{ o.id }}">{{ o.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                {% if errors.categoryId %}
                                    <span class="text-danger">{{ errors.categoryId | first }}</span>
                                {% endif %}
                            </section>

                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    {{ trans('form.send') }}
                                </button>
                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                    {{ trans('form.back') }}
                                </button>
                            </footer>

                        </fieldset>

                        {{ csrf.field | raw }}

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}