{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row-fluid">
        <div class="col">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false">

                <!-- widget div-->
                <div>

                    <form enctype="multipart/form-data" action="{{ path_for('admin.subscribers.import_subscribers') }}" method="POST" class="smart-form">

                        <header>
                            *-{{ trans('form.required_fields') }}
                        </header>

                        <fieldset>

                            <section>
                                <label for="import" class="label">{{ trans('form.attach_files') }}*</label>
                                <div class="input input-file">
                                    <span class="button"><input type="file" name="import" id="import" onchange="this.parentNode.nextSibling.value = this.value">{{ trans('form.browse') }}</span><input type="text" placeholder="{{ trans('form.select_files') }}" readonly="">
                                </div>

                                {% if errors.import %}
                                    <span class="text-danger">{{ errors.import | first }}</span>
                                {% endif %}

                                <div class="note">
                                    {{ trans('form.maximum_size') }}: <strong>{{ maxUploadFileSize }}</strong>
                                </div>

                            </section>

                            <section>
                                <label for="charsetId" class="label">{{ trans('form.charset') }}</label>
                                <label class="select">
                                    <select name="charset" id="charset">
                                        <option value="">{{ trans('form.select') }}</option>
                                        {% for c in charsets %}
                                            <option value="{{ c.charset }}">{{ c.charset }}</option>
                                        {% endfor %}
                                    </select> <i></i>
                                </label>
                                {% if errors.charsetId %}
                                    <span class="text-danger">{{ errors.charset | first }}</span>
                                {% endif %}
                            </section>

                            <section>
                                <label for="categoryId[]" class="label">{{ trans('form.subscribers_category') }}</label>
                                <label class="input">
                                    <select name="categoryId[]" multiple="multiple" class="form-control custom-scroll" title="{{ trans('form.select_category') }}">
                                        {% for o in category %}
                                            <option value="{{ o.id }}">{{ o.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                {% if errors.categoryId %}
                                    <span class="text-danger">{{ errors.categoryId | first }}</span>
                                {% endif %}
                            </section>

                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    {{ trans('form.send') }}
                                </button>
                                <a class="btn btn-default" href="{{ path_for('admin.subscribers.index') }}">
                                    {{ trans('form.back') }}
                                </a>
                            </footer>

                        </fieldset>

                        {{ csrf.field | raw }}

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}