{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row-fluid">
        <div class="col">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false">

                <!-- widget div-->
                <div>

                    <form id="tmplForm" enctype="multipart/form-data" action="{{ template is defined ? path_for('admin.template.edit') : path_for('admin.template.create') }}" method="{{ template is defined ? 'put' : 'post' }}" class="smart-form">

                        {% if template %}<input type="hidden" name="id" value="{{ template.id }}">{% endif %}

                        <header>
                            *-обязательные поля
                        </header>

                        <fieldset>
                            <section>
                                <label for="name" lass="label">Название*</label>
                                <label class="input">
                                    <input type="text" maxlength="10" placeholder="Название" name="name" value="{{ template is defined ? template.name : '' }}" type="text" id="tmplName">
                                </label>
                                {% if errors.name %}
                                    <span class="text-danger">{{ errors.name | first }}</span>
                                {% endif %}
                            </section>

                            <section>
                                <label for="body" class="label">Шаблон*</label>
                                <label class="textarea textarea-resizable">
                                    <textarea rows="3" class="custom-scroll" placeholder="Название" name="body" value="{{ template is defined ? template.name : '' }}" type="text" id="tmplName">{{ template is defined ? template.body : '' }}</textarea>
                                </label>
                                {% if errors.body %}
                                    <span class="text-danger">{{ errors.body | first }}</span>jjj
                                {% endif %}

                            <div class="note">
                                <strong>Персонализация:</strong> %NAME% - имя подписчика, %EMAIL% - E-mail адрес, %UNSUB% - ссылка для удаления рассылки, %SERVER_NAME% - адрес сайта, %REFERRAL:http://my_website.com/% - ссылка для статистика переходов по ссылкам
                            </div>
                            </section>
                            <section>
                                <label for="attachfile[]" class="label">Присоединить файлы</label>
                                <div class="input input-file">
                                    <span class="button"><input type="file" name="attachfile[]" multiple="true"  id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Обзор</span><input type="text" placeholder="Выберите файлы" readonly="">

                                </div>
                                {% if errors.attachfile %}
                                    <span class="text-danger">{{ errors.attachfile | first }}</span>jjj
                                {% endif %}
                            </section>

                            <section>
                                <label for="categoryId" class="label">Категория подписчиков*</label>
                                <label class="select">
                                    <select id="tmplCategory" name="categoryId">
                                        <option>Выберите</option>
                                        {% for o in category %}
                                            <option value="{{ o.id }}" {{ templat.categoryId == o.id ? 'selected="selected"' : '' }}>{{ o.name }}</option>
                                        {% endfor %}
                                    </select> <i></i>
                                </label>
                                {% if errors.categoryId %}
                                    <span class="text-danger">{{ errors.categoryId | first }}</span>jjj
                                {% endif %}
                            </section>

                            <section>
                                <label for="prior" class="label">Важность</label>
                                <div class="inline-group">
                                    <label class="radio">
                                        <input type="radio" name="prior" value="3" {{ ((template is defined and templat.prior == 3) or (template is not defined)) ? 'checked="checked"' : '' }}>
                                        <i></i>Нормальнаяa</label>
                                    <label class="radio">
                                        <input type="radio" name="prior" value="2" {{ template is defined and templat.prior == 2 ? 'checked="checked"' : '' }}>
                                        <i></i>Низкая</label>
                                    <label class="radio">
                                        <input type="radio" name="prior" value="1" {{ template is defined and templat.prior == 1 ? 'checked="checked"' : '' }}>
                                        <i></i>Высокая</label>
                                </div>
                                {% if errors.prior %}
                                    <span class="text-danger">{{ errors.prior | first }}</span>jjj
                                {% endif %}
                            </section>

                        </fieldset>

                        <footer>
                            <button type="submit" class="btn btn-primary">
                                Добавить
                            </button>
                            <button type="button" class="btn btn-default" onclick="window.history.back();">
                                Назад
                            </button>
                        </footer>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}