{% extends 'templates/app.twig' %}

{% block content %}

    <!-- START ROW -->
    <div class="row">

        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false"
                 data-widget-custombutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <form id="tmplForm" enctype="multipart/form-data" action="{{ template is defined ? path_for('admin.template.update') : path_for('admin.template.store') }}" method="{{ template is defined ? 'put' : 'post' }}" class="smart-form">

                            {{ csrf.field | raw }}

                            {% if template %}<input type="hidden" name="id" value="{{ template.id }}">{% endif %}

                            <header>
                                *-{{ trans('form.required_fields') }}
                            </header>

                            <fieldset>

                                <section>
                                    <label for="name" class="label">{{ trans('form.name') }}*</label>
                                    <label class="input">
                                        <input type="text" maxlength="255" placeholder="{{ trans('form.name') }}" name="name" value="{{ template is defined ? template.name  : old.name }}" id="name">
                                    </label>

                                    {% if errors.name %}
                                        <span class="text-danger">{{ errors.name | first }}</span>
                                    {% endif %}

                                </section>

                                <section>
                                    <label for="body" class="label">{{ trans('form.template') }}*</label>
                                    <label class="textarea textarea-resizable">
                                        <textarea rows="3" class="custom-scroll" placeholder="{{ trans('form.template') }}" name="body"  id="body">{{ template is defined ? template.body : old.body }}</textarea>
                                    </label>
                                    {% if errors.body %}
                                        <span class="text-danger">{{ errors.body | first }}</span>
                                    {% endif %}

                                    <div class="note">
                                        {{ trans('note.personalization') }}
                                    </div>
                                </section>

                                <section>
                                    <label for="attachfile[]" class="label">{{ trans('form.attach_files') }}</label>
                                    <div class="input input-file">
                                        <span class="button"><input type="file" name="attachfile[]" multiple="true"  id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">{{ trans('form.browse') }}</span><input type="text" placeholder="{{ trans('form.select_files') }}" readonly="">
                                    </div>

                                    {% if errors.attachfile %}
                                        <span class="text-danger">{{ errors.attachfile | first }}</span>
                                    {% endif %}

                                </section>

                                <section>
                                    <label for="prior" class="label">{{ trans('form.prior') }}</label>
                                    <div class="inline-group">
                                        <label class="radio">
                                            <input type="radio" name="prior" value="3" {{ ((template is defined and (templat.prior == 3 or old.prior == 3)) or (template is not defined)) ? 'checked="checked"' : '' }}>
                                            <i></i>{{ trans('form.normal') }}
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="prior" value="2" {{ template is defined and (templat.prior == 2 or old.prior == 2) ? 'checked="checked"' : '' }}>
                                            <i></i>{{ trans('form.low') }}
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="prior" value="1" {{ template is defined and (templat.prior == 1 or old.prior == 1) ? 'checked="checked"' : '' }}>
                                            <i></i>{{ trans('form.high') }}
                                        </label>
                                    </div>
                                    {% if errors.prior %}
                                        <span class="text-danger">{{ errors.prior | first }}</span>jjj
                                    {% endif %}

                                </section>

                            </fieldset>

                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    {{ trans('form.send') }}
                                </button>
                                <a class="btn btn-default" href="{{ path_for('admin.category.index') }}">
                                    {{ trans('form.back') }}
                                </a>
                            </footer>

                        </form>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- END COL -->

    </div>

    <!-- END ROW -->

{% endblock %}

{% block js %}

    <script src="{{ base_url() }}/js/plugin/ckeditor/ckeditor.js"></script>

    <script>

        $(document).ready(function () {
            CKEDITOR.replace('body', {height: '380px', startupFocus: true});
        });

    </script>

{% endblock %}