<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Панель управления | {{ title is defined ? title : '' }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->

    <!-- CSRF Token -->
    <meta name="csrf_name" content="{{ csrf.attribute.name | raw }}">

    <meta name="csrf_value" content="{{ csrf.attribute.value | raw }}">


    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_url() }}/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_url() }}/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->

    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_url() }}/css/smartadmin-production-plugins.min.css">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_url() }}/css/smartadmin-production.min.css">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_url() }}/css/smartadmin-skins.min.css">


    <!-- SmartAdmin RTL Support -->

    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_url() }}/css/smartadmin-rtl.min.css">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_url() }}/js/plugin/daterangepicker/daterangepicker.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_url() }}/js/plugin/sweetalert/sweetalert.css">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_url() }}/js/plugin/jquery-treeview-master/jquery.treeview.css">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ base_url() }}/js/plugin/datetimepicker/jquery.datetimepicker.css">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    {% block css %}

    {% endblock %}

    <script type="text/javascript">
        var SITE_URL = "{{ base_url() }}/";
    </script>

</head>

<!--

TABLE OF CONTENTS.

Use search to find needed section.

===================================================================

|  01. #CSS Links                |  all CSS links and file paths  |
|  02. #FAVICONS                 |  Favicon links and file paths  |
|  03. #GOOGLE FONT              |  Google font link              |
|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
|  05. #BODY                     |  body tag                      |
|  06. #HEADER                   |  header tag                    |
|  07. #PROJECTS                 |  project lists                 |
|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
|  09. #MOBILE                   |  mobile view dropdown          |
|  10. #SEARCH                   |  search field                  |
|  11. #NAVIGATION               |  left panel & navigation       |
|  12. #MAIN PANEL               |  main panel                    |
|  13. #MAIN CONTENT             |  content holder                |
|  14. #PAGE FOOTER              |  page footer                   |
|  15. #SHORTCUT AREA            |  dropdown shortcuts area       |
|  16. #PLUGINS                  |  all scripts and plugins       |

===================================================================

-->

<!-- #BODY -->
<!-- Possible Classes

    * 'smart-style-{SKIN#}'
    * 'smart-rtl'         - Switch theme mode to RTL
    * 'menu-on-top'       - Switch to top navigation (no DOM change required)
    * 'no-menu'			  - Hides the menu completely
    * 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
    * 'fixed-header'      - Fixes the header
    * 'fixed-navigation'  - Fixes the main menu
    * 'fixed-ribbon'      - Fixes breadcrumb
    * 'fixed-page-footer' - Fixes footer
    * 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
-->
<body class="">

<!-- #HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img src="{{ base_url() }}/img/logo.png" alt="SmartAdmin"> </span>

    </div>


    <!-- #TOGGLE LAYOUT BUTTONS -->
    <!-- pulled right: nav area -->
    <div class="pull-right">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->

        <!-- #MOBILE -->
        <!-- Top menu profile link : this shows only when top menu is active -->
        <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
            <li class="">
                <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                    <img src="{{ base_url() }}/img/avatars/sunny.png" alt="John Doe" class="online"/>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>{{ trans('str.roll_up') }}</u></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"
                           data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i><u>{{ trans('str.expand_full_screen') }}</u>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ path_for('signout') }}" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i>
                            <strong><u>{{ trans('str.signout') }}</u></strong>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span> <a href="{{ path_for('signout') }}" title="{{ trans('str.signout') }}" data-action="userLogout"><i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->

        <!-- search mobile button (this is hidden till mobile view port) -->
        <div id="search-mobile" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
        </div>
        <!-- end search mobile button -->


        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="{{ trans('str.expand_full_screen') }}"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>
        <!-- end fullscreen button -->

        <!-- multiple lang dropdown : find all flags in the flags page -->
        <ul class="header-dropdown-list hidden-xs">
            <li>

                {% if lng == 'ru' %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="{{ base_url() }}/img/blank.gif" class="flag flag-ru" alt="Русский">
                        <span> Русский</span> <i class="fa fa-angle-down"></i>
                    </a>
                {% else %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="{{ base_url() }}/img/blank.gif" class="flag flag-gb" alt="English">
                        <span> English</span> <i class="fa fa-angle-down"></i>
                    </a>
                {% endif %}

                <ul id="select-lang" class="dropdown-menu pull-right">
                    <li data-id="en" class="{{ lng == 'en' ? 'active' : '' }}">
                        <a  href="javascript:void(0);"><img src="{{ base_url() }}/img/blank.gif" class="flag flag-gb" alt="English">English</a>
                    </li>
                    <li data-id="ru" class="{{ lng == 'ru' ? 'active' : '' }}">
                        <a  href="javascript:void(0);"><img src="{{ base_url() }}/img/blank.gif" class="flag flag-ru" alt="Russia">Русский (Russian)</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- end multiple lang -->

    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->

<!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    <div class="login-info">
		<span> <!-- User image size is adjusted inside CSS, it should stay as it -->

            {{ auth.user.name }}

		</span>
    </div>
    <!-- end user info -->

    <nav>
        <!--
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>

            <li {{ is_current_path('admin.main') ? ' class="active"' : '' }}>
                <a href="{{ path_for('admin.main') }}" title="{{ trans('menu.templates') }}">
                    <i class="fa fa-fw fa-envelope"></i> <span class="menu-item-parent">{{ trans('menu.templates') }}</span>
                </a>
            </li>

            <li {{ is_current_path('admin.schedule.index') ? ' class="active"' : '' }}>
                <a href="{{ path_for('admin.schedule.index') }}" title="{{ trans('menu.schedule') }}">
                    <i class="fa fa-fw fa-hourglass"></i> <span class="menu-item-parent">{{ trans('menu.schedule') }}</span>
                </a>
            </li>

            <li {{ is_current_path('admin.subscribers.index') ? ' class="active"' : '' }}>
                <a href="{{ path_for('admin.subscribers.index') }}" title="{{ trans('menu.subscribers') }}">
                    <i class="fa fa-fw fa-users"></i> <span class="menu-item-parent">{{ trans('menu.subscribers') }}</span>
                </a>
            </li>

            <li {{ is_current_path('admin.category.index') ? ' class="active"' : '' }}>
                <a href="{{ path_for('admin.category.index') }}" title="{{ trans('menu.subscribers_category') }}">
                    <i class="fa fa-fw fa-th-list"></i> <span class="menu-item-parent">{{ trans('menu.subscribers_category') }}</span>
                </a>
            </li>

            <li {{ is_current_path('admin.smtp.index') ? ' class="active"' : '' }}>
                <a href="{{ path_for('admin.smtp.index') }}" title="SMTP">
                    <i class="fa fa-fw fa-database"></i> <span class="menu-item-parent">SMTP</span>
                </a>
            </li>

            <li class="">
                <a href="#">
                    <i class="fa fa-fw fa-area-chart"></i> <span class="menu-item-parent">{{ trans('menu.logs') }}</span>
                </a>

                <ul class="treeview-menu">
                    <li {{ is_current_path('admin.log.index') ? ' class="active"' : '' }}>
                        <a href="{{ path_for('admin.log.index') }}">
                            <i class="fa fa-fw fa-list"></i> <span class="menu-item-parent">{{ trans('menu.mailing_log') }}</span>
                        </a>
                    </li>
                    <li {{ is_current_path('admin.log.index') ? ' class="active"' : '' }}>
                        <a href="{{ path_for('admin.log.index') }}">
                            <i class="fa fa-fw fa-list"></i> <span class="menu-item-parent">{{ trans('menu.referrens_log') }}</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li {{ is_current_path('admin.settings.index') ? ' class="active"' : '' }}>
                <a href="{{ path_for('admin.settings.index') }}" title="{{ trans('menu.settings') }}">
                    <i class="fa fa-fw fa-gear"></i> <span class="menu-item-parent">{{ trans('menu.settings') }}</span>
                </a>
            </li>

            <li {{ is_current_path('admin.users.index') ? ' class="active"' : '' }}>
                <a href="{{ path_for('admin.users.index') }}" title="{{ trans('menu.users') }}">
                    <i class="fa fa-fw fa-group"></i> <span class="menu-item-parent">{{ trans('menu.users') }}</span>
                </a>
            </li>

        </ul>
    </nav>

    <span class="minifyme" data-action="minifyMenu"><i class="fa fa-arrow-circle-left hit"></i></span>

</aside>
<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">


        <!-- RIBBON -->
        <div id="ribbon">

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>Home</li>
            </ol>
            <!-- end breadcrumb -->


        </div>
        <!-- END RIBBON -->

        <!-- You can also add more buttons to the
        ribbon for further usability

        Example below:

        <span class="ribbon-button-alignment pull-right">
        <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
        <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
        <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
        </span> -->

    </div>

    <!-- MAIN CONTENT -->
    <div id="content">

        {% if title is defined %} <h2>{{ title }}</h2> {% endif %}

        {% block content %}

        {% endblock %}

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">© 2006-{{ dateTime | date('Y') }} <a href="http:://janicky.com">PHP Newsletter</a>, {{ trans('str.author') }}</span>
        </div>

    </div>
</div>
<!-- END PAGE FOOTER -->

<!--================================================== -->

<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
<script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>-->


<!-- #PLUGINS -->
<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    if (!window.jQuery) {
        document.write('<script src="{{ base_url() }}/js/libs/jquery-3.2.1.min.js"><\/script>');
    }
</script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    if (!window.jQuery.ui) {
        document.write('<script src="{{ base_url() }}/js/libs/jquery-ui.min.js"><\/script>');
    }
</script>

<!-- IMPORTANT: APP CONFIG -->
<script src="{{ base_url() }}/js/app.config.js"></script>

<!-- BOOTSTRAP JS -->
<script src="{{ base_url() }}/js/bootstrap/bootstrap.min.js"></script>

<!--[if IE 8]>
<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
<![endif]-->

<!-- MAIN APP JS FILE -->
<script src="{{ base_url() }}/js/app.min.js"></script>

<script src="{{ base_url() }}/js/plugin/datatables/jquery.dataTables.min.js"></script>

<script src="{{ base_url() }}/js/plugin/datatables/dataTables.colVis.min.js"></script>

<script src="{{ base_url() }}/js/plugin/datatables/dataTables.tableTools.min.js"></script>

<script src="{{ base_url() }}/js/plugin/datatables/dataTables.bootstrap.min.js"></script>

<script src="{{ base_url() }}/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>

<script src="{{ base_url() }}/js/plugin/sweetalert/sweetalert-dev.js"></script>

<script src="{{ base_url() }}/js/plugin/datetimepicker/jquery.datetimepicker.full.js"></script>

<script>

    $(function() {
        $('ul.dropdown-menu li').on('click', function() {
            $(this).parent().find('li.active').removeClass('active');
            $(this).addClass('active');

            var Lng = $(this).attr('data-id');

            var request = $.ajax({

                url: '{{ path_for('admin.ajax.action') }}',
                method: "POST",
                data: {
                    action: "change_lng",
                    lng: Lng,
                    csrf_name: "{{ csrf.attribute.name | raw }}",
                    csrf_value: "{{ csrf.attribute.value | raw }}",
                },

                dataType: "json"
            });

            request.done(function (data) {
                if (data.result != null && data.result == true) {
                    location.reload();
                }
            });

        });
    });

</script>

{% block js %}

{% endblock %}

</body>

</html>