<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title is defined ? title : '' }}</title>
    <link rel="stylesheet" href="{{ base_url() }}/bootstrap/css/bootstrap.min.css">
    <script src="{{ base_url() }}/js/libs/jquery-3.2.1.min.js"></script>
    <script src="{{ base_url() }}/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/css/style.css">
</head>

<body>

{% block content %}

{% endblock %}

</body>

</html>